@charset "UTF-8";

body{
    background-image: url("pacote-d013/imagens/fundo-madeira.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    margin: 0%;
}


#celular{
    display: inline-block;
    margin: 0%;
    background-image: url("pacote-d013/imagens/frame-iphone.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20vmax; 
    height: 40vmax;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#visao{
    position: relative;
    left: 7%;
    top: 12.5%;
    width: 86.5%;
    height: 76.5%;
}

#home{
    grid-area: home;
    background-image: url("pacote-d013/imagens/logo-home.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: red;
}

#you{
    grid-area: you;
    background-image: url("pacote-d013/imagens/logo-youtube.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: red;

}

#git{
    grid-area: git;
    background-image: url("pacote-d013/imagens/logo-github.jpg");
    background-repeat: no-repeat;
    background-size: contain;

}

#inta{
    grid-area: insta;
    background-image: url("pacote-d013/imagens/logo-instagram.jpg");
    background-repeat: no-repeat;
    background-size: contain;

}

#twitter{
    grid-area: twitter;
    background-image: url("pacote-d013/imagens/logo-twitter.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

#face{
    grid-area: face;
    background-image: url("pacote-d013/imagens/logo-facebook.jpg");
    background-repeat: no-repeat;
    background-size: contain;


}

.sociais:hover{
    border: 2px solid white;
    transform: translate(-3px,-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
    transition: transform .5s, border 0.3s;
}

.sociais{   
    height: 60px;
    width:  60px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
    box-sizing: border-box;
}

nav{
    display: grid;
    justify-content: right;
    gap: 2vw;
}
